
<%= render'shared/sidebar' %>

<%= search_form_for @q, url: posts_path, method: :get do |f| %>
  <%= f.search_field :title_or_image_introduce_cont %>

  <% Post.categories.each do |key, _| %>
    <%= radio_button_tag 'q[category_eq][]', key, params.dig(:q, :category_in)&.include?(key) %>
    <%= label_tag "q_category_in_#{key}", key.humanize %><br>
  <% end %>
  <%= f.submit '検索' %>
<% end %>

<div class="post-grid">
  <% @posts.each do |post| %>
    <div class="post-card">
      <strong><%= post.title %></strong><br>
      <video width="100%" controls>
        <source src="<%= post.image_url %>" type="video/mp4">
      </video>
      <%= link_to "詳細", post_path(post) %><br>
      <h5><%= post.image_introduce %></h5>
    </div>
  <% end %>
</div>